[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyopenssl = "*"
webauthn = {path = "./py_webauthn"}
python-keycloak = "*"
cbor2 = "*"
cryptography = "*"
Flask-OIDC = "*"
# Pin itsdangerous library to version 2.0.X as it is a transitive dependency of flask-OIDC that breaks with 2.1.X
itsdangerous = "~=2.0.1"

[dev-packages]

[requires]
python_version = "3.9"
